@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
display: flex;
justify-content: center;
}

.header__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(104, 104, 255);
    width: 400px;
    height: 400px;
    margin-top: 300px;
    border-radius: 80px;
}

.header__title {
font-size: 24px;
margin-bottom: 30px;
font-family: 'Montserrat',sans-serif;
font-weight: 400;
color: #f5f5f5;

}

.form__input input{
  padding: 20px 20px;
  width: 300px;
  border-radius: 30px;
  border: none;
}

.form__button  {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(104, 104, 255);
    color: #f5f5f5;
    border: none;
    font-size: 15px;
    margin-left: 10px;
}

.form__button:hover {
    color: crimson;
    transition: 1.0s ease;
}

.header__city {
margin-top: 10px;
font-size: 40px;
color: #f5f5f5;
font-family: 'Montserrat',sans-serif;
font-weight: 700;
}

.header__temp {
    font-size: 50px;
    margin-top: 5px;
    color: #f5f5f5;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

.header__wind {
    flex-direction: row;
    display: flex;
    color: #f5f5f5;
    margin-top: 15px;
    gap: 30px;


}
.header__hum {
    flex-direction: row;
    display: flex;
    color: #f5f5f5;
    margin-top: 15px;
    gap: 30px;

}

.header__info {
color: #f5f5f5; 
font-family: 'Montserrat',sans-serif;
font-weight: 400;
    
}

.header__name {
font-family: 'Montserrat',sans-serif;
font-weight: 400;
}

.hum--name {
 margin-right: 10px;
}

.form__button:active {
    transform: scale(0.95); 
    transition: 1s;
}

@media (max-width: 375px) {
    .header__box {
        width: 360px;
        height: 360px;
    }
    .header__title {
        font-size: 18px;
    }
   .form__input input {
    width: 200px;
   }
}